@require 'var/color.styl';

// .container, .page-container {
//   width: 1140px;
//   padding: 0;
//   margin: 0 auto;
// }

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
  // background: $color-light-grey-sss;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
