// color 1.0
$color-primary = #1858a8;
$color-primary-s = lighten($color-primary, 20); // rgb(85, 157, 255);
$color-primary-ss = #E8F4FB;
$color-primary-dark = #084466;
// grey
$color-grey = #243247;
$color-light-grey = #5C6B80;
$color-light-grey-s = #A4B2C1;
$color-light-grey-ss = #D1D7DF;
$color-light-grey-sss = #EDF1F4;
// color
$color-white = #fff;
$color-pick = rgb(118, 111, 187);
$color-green = #6fa622;
$color-red = #ed5853;
$color-yellow = rgb(230, 200, 100);
$color-orange = #FFA157;

.color-red {
  color: $color-red;
}

.color-yellow {
  color: $color-yellow;
}
